<!doctype html>
<html>
<body>
<h1>{{ data.nickname }}'s Playlist</h1>


<table border="1">
    <tr>
        <th></th>
        <th>Number</th>
        <th>Artist</th>
        <th>Title</th>
        <th>URL</th>
    </tr>
    {% for item in data.playlist %}
    <tr>
        <td><input type="checkbox"></td>
        <td>{{ loop.index }}</td>
        <td>{{ item.artist }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.url }}</td>
    </tr>
    {% endfor %}
</table>

<form action="http://localhost:5000/playlist/{{ data.nickname }}" method="put">
 <p>Enter Name:</p>
 <p><input type = "text" name = "nm" /></p>
 <p><input type = "submit" value = "submit" /></p>
</form>


</body>
</html>